.log
.DS_Store
.env
.venv/
.next/
.yarn/
.vite/
venv/
node_modules/
dist/
docs/
out/
.log
.DS_Store
.env
.venv/
.next/
.yarn/
.vite/
venv/
node_modules/
dist/
docs/
out/
.log
.DS_Store
.env
.venv/
.next/
.yarn/
.vite/
venv/
node_modules/
dist/
docs/
out/
