---
// src/layouts/DefaultLayout.astro
import "@/styles/global.css";

import Navbar from "./Navbar.astro";

import GTMBody from "@/components/header/GTMBody.astro";
import GTMHead from "@/components/header/GTMHead.astro";
import Lenis from "@/components/header/lenis.astro";

const {pathname} = Astro.url;

const {title, prefetchInHead = []} = Astro.props;
---

<html lang="en" class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<link rel="icon" href="/favicon.svg" />
		<GTMHead />
		<Lenis />
		<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />

		<!-- Prefetch DNS for external resources -->
		<link rel="dns-prefetch" href="https://fonts.googleapis.com" />
		<link rel="dns-prefetch" href="https://fonts.gstatic.com" crossorigin />

		{prefetchInHead.map((url: string) => <link rel="prefetch" href={url} />)}
	</head>

	<body>
		<GTMBody />
		<Navbar />
		<main class="main">
			<slot />
		</main>
	</body></html
>
