---
import "@/styles/global.css";

import GTMBody from "@/components/config/GTMBody.astro";
import Head from "@/components/config/Head.astro";
import Navbar from "@/components/navbar/Navbar.astro";
import Footer from "@/components/footer/Footer.astro";

const {pathname} = Astro.url;

const {seoData = {}, prefetchInHead = []} = Astro.props;
---

<html lang="en">
	<Head seoData={seoData} prefetchInHead={prefetchInHead} />
	<body class="bg-background min-h-screen font-sans antialiased">
		<GTMBody />
		<div class="relative flex min-h-screen flex-col">
			<Navbar />
			<main class="flex-auto">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
