---
import "@/styles/global.css";

import Head from "@/components/Head.astro";
import GTMBody from "@/components/header/GTMBody.astro";

import Navbar from "@/components/Navbar.astro";

const {pathname} = Astro.url;

const {title, prefetchInHead = []} = Astro.props;
---

<html lang="en" class="">
	<Head title={title} prefetchInHead={prefetchInHead} />

	<body class="bg-background min-h-screen font-sans antialiased">
		<GTMBody />
		<Navbar />
		<main class="main">
			<slot />
		</main>
	</body></html
>
