---
// src/components/Navbar.astro
import {Image} from "astro:assets";
import {getPath, globals} from "@/config/globals";

const currentPath = Astro.url.pathname;
import ReactNavbar from "./ReactNavbar";


---

<!--<nav id="navbar" class="fixed left-0 top-0 w-screen z-[9999] pt-9 pb-9" style="background-image: linear-gradient(to bottom,    rgba(0, 0, 0, 0.7) 0%,    rgba(0, 0, 0, 0.4) 50%,    rgba(0, 0, 0, 0) 100%  )">
	<div class="flex justify-between items-center px-6 sm:px-12">
		<a href={globals.base}>
			<Image src="/assets/images/logo/Logo.png" alt="Logo" width={150} height={50} class="relative z-[1] w-[70px] sm:w-[90px]" />
		</a>
		<div class="flex gap-8">
			<a href={"/"} class="no-underline font-normal text-white text-[1.75rem] transition-all duration-300 ease-in-out inline-block text-2xl sm:text-3xl hover:text-[#ff5733]"> Home </a>
		</div>
	</div>
</nav>-->

<ReactNavbar client:load/>